.fade-in {
  opacity: 1;
  transition: opacity 0.4s;

  @starting-style {
    opacity: 0;
  }
}

.scale-in {
  opacity: 1;

  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;

  @starting-style {
    transform: scale(0.7);
    opacity: 0;
  }
}



.flash-in:not(.skeleton) {

  transition: filter 0.5s;


  @starting-style {
    filter: drop-shadow(1.5px 0px 0px var(--color)) drop-shadow(0px 1.5px 0px var(--color));
  }

}


@keyframes flashing-opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin-around {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.is-flashing {
  animation: flashing-opacity 1s infinite;
}



.loading-pre,
.loading:not(.loading-pre) {

  position: relative;
  transition: color 0.5s;

  &:after {

    font-size: 1rem;
    left: calc(50% - 1em * 0.5);
    top: calc(50% - 1em * 0.6);
    position: absolute !important;
    border: 0.15em solid var(--color);
    border-radius: 1em;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    position: relative;
    height: 1em;
    width: 1em;

    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s 0s, animation 0.3s 0s;
    visibility: hidden;
    animation:none;
  }

  &.loading {
    color: transparent !important;
    pointer-events: none;

    >* {
      filter: opacity(0.1);
    }

    &::after {
      opacity: 1;
      visibility: visible;
      animation: spin-around 0.5s infinite linear;
    }
  }
}