@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./root.css);
@import url(./color.css);
@import url(./component.css);
@import url(./layout.css);
@import url(./navbar.css);
@import url(./typo.css);
@import url(./animation.css);
@import url(./tooltip.css);
@import url(./icon.css);


