.navbar {


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: none;

    >* {
        height: var(--nav-height);
        gap: var(--spacing);
        padding-inline: var(--el-padding-inline);
        display: flex;
        align-items: center;
    }

    .navbar-left {}

    .navbar-right {}

    .navbar-main {
        align-items: center;
        flex: 1;
    }

    .navbar-item {
        white-space: nowrap;

        >* {
            vertical-align: middle;
            white-space: nowrap;
        }
    }

    &.fixed {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    @media screen and (max-width: 800px) {

        position: relative;

        .navbar-left {
            flex: 1;
        }

        .navbar-right {}

        .navbar-left,
        .navbar-right {
            --el-padding-inline: 0.8rem;
            --spacing: 0.8rem;
        }

        .navbar-main {
            
        }

        .navbar-main {
            flex-direction: column;
            align-items: stretch;
            padding-inline: 0;
            overflow: hidden;
            border: none;
            gap: 0;

            .navbar-item {
                padding-inline: var(--el-padding-inline);
                padding-block: 1em;
            }
        }

        &.fixed .navbar-main {
            top: 100%;
            left: 0;
            right: 0;
            height: auto;

            position: absolute;
            clip-path: rect(0 100% 0 0);
            transition: clip-path 0.2s;
            padding-block: var(--spacing);
            z-index: 10000;
            background-color: inherit;
            &.active {
                clip-path: rect(0 100% 100% 0);
            }
        }

        &:not(.fixed) {
            flex-wrap: wrap;
            .navbar-main {
                interpolate-size: allow-keywords;
                height: 0;
                order: 1;
                min-width:100%;
                transition: height 0.2s, padding-block 0.2s;
                padding-block: 0;
                &.active {
                    padding-block: var(--spacing);
                    height: auto;
                }
            }
        }

        .navbar-item {
            &.nav-toggle {
                padding-inline: var(--el-padding-inline);
                padding-block: var(--el-padding-block);
                aspect-ratio: 1;

            }

        }

        &.fixed:has(.navbar-main)::before {
            content: '';
            position: fixed;
            inset: 0;
            top: var(--nav-height);
            background: #0004;
            opacity: 0;
            transition: opacity 0.2s;
            z-index: 1;
            pointer-events: none;
        }

        &:has(.navbar-main.active)::before {
            opacity: 1;
            pointer-events: all;
        }
    }
}