
:root {
    --size-factor: 1.1;

    @media screen and (min-width: 350px) {
        --size-factor: 1.12;
    }

    @media screen and (min-width: 500px) {
        --size-factor: 1.13;
    }

    @media screen and (min-width: 700px) {
        --size-factor: 1.14;
    }

    @media screen and (min-width: 1000px) {
        --size-factor: 1.15;
    }
}



body,
html {
    font-size: 15px;

    @media screen and (min-width: 350px) {
        font-size: 13px;
    }

    @media screen and (min-width: 500px) {
        font-size: 14px;
    }

    @media screen and (min-width: 700px) {
        font-size: 15px;
    }

    @media screen and (min-width: 1000px) {
        font-size: 16px;
    }
}



h1,
.h1,
.size-1 {
    font-size: calc(1rem * pow(var(--size-factor), 6));
}

h2,
.h2,
.size-2 {
    font-size: calc(1rem * pow(var(--size-factor), 3));
}

h3,
.h3,
.size-3 {
    font-size: calc(1rem * pow(var(--size-factor), 1));

}

h4,
.h4,
.size-4 {
    font-size: calc(1rem * pow(var(--size-factor), 0));

}

h5,
.h5,
.size-5 {
    font-size: calc(1rem * pow(var(--size-factor), -1));

}

h6,
.h6,
.size-6 {
    font-size: calc(1rem * pow(var(--size-factor), -2));
}


.text-small,
.size-small {
    font-size: calc(1rem * pow(var(--size-factor), -1));
}

.text-medium,
.size-medium {
    font-size: calc(1rem * pow(var(--size-factor), 0));
}

.text-large,
.size-large {
    font-size: calc(1rem * pow(var(--size-factor), 2));
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.text-small,
.text-medium,
.text-large,
p {
    font-weight: normal;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;

    &.spaced {
        margin-block-start: 0.8em;
        margin-block-end: 0.8em;
    }

    &.skeleton {}

}

.text-subtitle {
    opacity: 0.8;
}

.text-description {
    opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    &.skeleton {
        width: fit-content;
        min-width: 60%;
    }
}

.text-small,
.text-medium,
.text-large,
.text-subtitle,
.text-description {
    &.skeleton {}
}

.content {}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.nowrap{
    white-space: nowrap;
}

.text{
    color: var(--current-color);
}

.text-bold{
    font-weight: 600;
}
.text-light{
    font-weight: 300;
}
